html
  head
    title= title
    script.
        var AppBridge = window['app-bridge'];
        var createApp = AppBridge.createApp;
        var actions = AppBridge.actions;
        var Redirect = actions.Redirect;
        var shopOrigin = shop;

        const apiKey = API_KEY;
        const redirectUri = redirectURI;
        const permissionUrl = '/oauth/authorize?client_id=' + apiKey + '&scope=read_products,read_content&redirect_uri=' + redirectUri;

        // If the current window is the 'parent', change the URL by setting location.href
        if (window.top == window.self)
        window.location.assign('https://' + shopOrigin + '/admin' + permissionUrl);

        // If the current window is the 'child', change the parent's URL with Shopify App Bridge's Redirect action
        else 
        const app = createApp({
            apiKey: apiKey,
            shopOrigin: shopOrigin,
        });

        Redirect.create(app).dispatch(Redirect.Action.ADMIN_PATH, permissionUrl);
        }
  body
    h1= title
    p=message